{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="home-section section-hero inner-page overlay bg-image"
  style="background-image: url('{% static 'images/about.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">About Us</h1>
          <p>We empower African developers.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="site-section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <!-- <a data-fancybox data-ratio="2" href="https://vimeo.com/317571768" class="block__96788">
          <span class="play-icon"><span class="icon-play"></span></span> -->
          <img src="{% static 'images/team.jpg' %}" alt="Image" class="img-fluid img-shadow">
        </a>
      </div>
      <div class="col-lg-5 ml-auto">
        <h2 class="section-title mb-3">
            We help build technology careers in Africa</h2>
        <p class="lead">Techonect Africa is the name of the most reliable site for graduates in fields of STEM(Science,Technology,Engineering and Maths) and selftaught software engineers that are looking for tech careers in Africa and employers looking for new hires. Our platform is available for anyone looking to work in any Technology company within Africa. The jobs posted here  are realistic and actually do exist. Our goal is to link reliable employers with the best candidates available, to create technology careers in Africa.</p>
        <p class="lead">
          </p>
      </div>
    </div>
  </div>
</section>




<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Our Team</h2>
          <p class="lead">Our team exists of highly passionate people that worked part of their careers in Africa and have a specific bond with the African continent. Unlike most job search sites we feel that everybody that took the time to contact us deserves a response. Therefore we have developed a very personal and informal way of working. With this approach we have realised many successful matches in the past and will continue to increase this number in the coming years!
          </p>
      </div>
    </div>

    <div class="row align-items-center block__69944">

      <div class="col-md-6">
        <img src="{% static 'images/ceo2.jpg' %}" alt="Image" class="img-fluid mb-4 rounded"
          style="height: 400px; width: 400px;">

        <h3>CEO.Jacob Zuma</h3>
        <p class="text-muted">Chief Executive Officer </p>
        <p>After living and working in South Africa and Kenya myself, I missed a proper platform to look for international jobs in Africa. Not easy to find the decision maker for hiring, let alone get in touch. The other way around, lots of employers in Africa seemed to be struggling finding the right talent, skills or management level and had nowhere to reach out to.TechonectAfrica was born!

        </p>
        <div class="social mt-4">
          <a href="https://www.facebook.com/IamOmaR22/" target="_blank"><span class="icon-facebook"></span></a>
          <a href="#" target="_blank"><span class="icon-twitter"></span></a>
          <a href="https://www.instagram.com/iamomar_22/" target="_blank"><span class="icon-instagram"></span></a>
          <a href="#" target="_blank"><span class="icon-linkedin"></span></a>
          <a href="https://www.github.com/IamOmaR22/" target="_blank"><span class="icon-github-alt"></span></a>
        </div>
      </div>


      <div class="col-md-6 order-md-2">
        <img src="{% static 'images/staff2.jpg' %}" alt="Image" class="img-fluid mb-4 rounded"
          style="height: 400px; width: 400px;">


        <h3>Md.Angela Ross</h3>
        <p class="text-muted">Executive Search Consultant</p>
        <p>After studying and working in The Netherlands for many years, I decided to explore this crazy cool world and I ended up in Kenya, for what was supposed to be a holiday.I joined TechonectAfrica as an Executive Search Consultant to take on the challenge to completely understand the requirements of our clients and of their company cultures, to enable me to find candidates who are great fits for the company.</p>
        <div class="social mt-4">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-linkedin"></span></a>
          <a href="#" target="_blank"><span class="icon-github-alt"></span></a>
        </div>
      </div>


    </div>


    <div class="row align-items-center block__69944">

      <div class="col-md-6">
        <img src="{% static 'images/staff2b.jpg' %}" alt="Image" class="img-fluid mb-4 rounded"
          style="height: 400px; width: 400px;">

        <h3>CTO. Omar Faruk</h3>
        <p class="text-muted">Chief Technology Officer</p>
        <p>A Full Stack Developer with Experience in Python, Django, PostgreSQL / SQLite / Firebase / MySQL.I'm open-source development enthusiast.I crosscheck the tech skills of the aspiring employees with the ones posted by employers to make sure they match. I also consult with graduates on the current technology skills required in the industry.
        </p>
        <div class="social mt-4">
          <a href="https://www.facebook.com/IamOmaR22/" target="_blank"><span class="icon-facebook"></span></a>
          <a href="#" target="_blank"><span class="icon-twitter"></span></a>
          <a href="https://www.instagram.com/iamomar_22/" target="_blank"><span class="icon-instagram"></span></a>
          <a href="#" target="_blank"><span class="icon-linkedin"></span></a>
          <a href="https://www.github.com/IamOmaR22/" target="_blank"><span class="icon-github-alt"></span></a>
        </div>
      </div>


      <div class="col-md-6 order-md-2">
        <img src="{% static 'images/new.jpg' %}" alt="Image" class="img-fluid mb-4 rounded"
          style="height: 400px; width: 400px;">


        <h3>Md. Ruth Simango</h3>
        <p class="text-muted">Researcher & Database Manager </p>
        <p>I am from Zimbabwe, but have been in Kenya for the past nine years and have been working as a Recruitment Consultant. What I like the most is that it is a multi cultural environment and it has made it easy for me to engage with everyone from different backgrounds.One of my duties as a Database Manager at JobnetAfrica is to make sure that all the information on the candidates CV's is updated.</p>
        <div class="social mt-4">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-linkedin"></span></a>
          <a href="#" target="_blank"><span class="icon-github-alt"></span></a>
        </div>
      </div>


    </div>


    <div class="row align-items-center block__69944">

      <div class="col-md-6">
        <img src="{% static 'images/content.jpg' %}" alt="Image" class="img-fluid mb-4 rounded"
          style="height: 400px; width: 400px;">

        <h3>CM. Jason Momoa</h3>
        <p class="text-muted">Content Manager</p>
        <p>As an online marketeer for Techonnect Africa I’m making this great job search site as visible as possible in every sense of the word visible. Amongst many things I am making sure the vacancies of the companies reach all qualified jobseekers. It is fantastic to contribute to companies finding their ideal candidate and enhance people’s careers in Africa!
        </p>
        <div class="social mt-4">
          <a href="https://www.facebook.com/IamOmaR22/" target="_blank"><span class="icon-facebook"></span></a>
          <a href="#" target="_blank"><span class="icon-twitter"></span></a>
          <a href="https://www.instagram.com/iamomar_22/" target="_blank"><span class="icon-instagram"></span></a>
          <a href="#" target="_blank"><span class="icon-linkedin"></span></a>
          <a href="https://www.github.com/IamOmaR22/" target="_blank"><span class="icon-github-alt"></span></a>
        </div>
      </div>


      <div class="col-md-6">
        <img src="{% static 'images/hr2.jpg' %}" alt="Image" class="img-fluid mb-4 rounded"
          style="height: 400px; width: 400px;">


        <h3>SA.Wendy Wijis</h3>
        <p class="text-muted">Executive Search Associate  </p>
        <p>I have worked in Zambia to contribute to the HR departments of local organisations. Because of this, and earlier experiences in working in Africa, I can easily understand the African context as well as working in a multi-cultural environment with sensitivity and respect for diversity.I have enthusiasm to add value to your company by successfully select the right candidate for your open vacancy as well as finding you a suitable job in Africa. </p>
        <div class="social mt-4">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-linkedin"></span></a>
          <a href="#" target="_blank"><span class="icon-github-alt"></span></a>
        </div>
      </div>


    </div>


</section>


<section class="py-5 bg-image overlay-primary fixed overlay" id="next-section"
  style="background-image: url('images/hero_1.jpg');">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-white">JobBoard Site Stats</h2>
        <p class="lead text-white">Let the statistics speak for themselves on the impact of Techonect Africa to its users.</p>
      </div>
    </div>
    <div class="row pb-0 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{ candidates }}">0</strong>
        </div>
        <span class="caption">Candidates</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{ job_qs }}">0</strong>
        </div>
        <span class="caption">Jobs Posted</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="">0</strong>
        </div>
        <span class="caption">Jobs Filled</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{ company_name }}">0</strong>
        </div>
        <span class="caption">Companies</span>
      </div>


    </div>
  </div>
</section>


{% endblock %}