{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
             style="background-image: url('{% static 'images/services.jpg' %}');"
             
      >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Our Services</h1>
              <p>Other than connecting developers to employers we offer various services.</p>
            </div>
          </div>
        </div>
        
    </section>
    <br><br>
    
      <div class="row">
        <div class="col-md-2"></div>
       
          <div class="col-md-5">
            <h3>Design Strategy</h3>
            <p>We offer design strategies for various business for their different platforms.</p>
            <p>Strategy is the backbone to every project at Pixel Perfect. Every project starts with a strategic discovery session to clearly identify your goals, your target audience and brand positioning.By the end of the project you won’t just look good, your business will be positioned to stand out from the noise and convert more visitors into customers.</p>
          </div>
        <div class="col-md-5">
          <img src="{% static 'images/design.jpg' %}">
        </div>

      </div>
      <br><br>
      
      <div class="row">
        <div class="col-md-2"></div>
       
          <div class="col-md-5">
            <h3>Market Strategy</h3>
            <p>We offer marketting solutions in the digital world for all types of businesses.</p>
            <p>Strategy is the backbone to every project at Pixel Perfect. Every project starts with a strategic discovery session to clearly identify your goals, your target audience and brand positioning.By the end of the project you won’t just look good, your business will be positioned to stand out from the noise and convert more visitors into customers.</p>
          </div>
        <div class="col-md-5">
          <img src="{% static 'images/markets.jpg' %}">
        </div>

      </div>
      <br><br>
      
      <div class="row">
        <div class="col-md-2"></div>
       
          <div class="col-md-5">
            <h3>Web Design</h3>
            <p>We create quality websites for firms, individual portfolios and institutions.</p>
            <p>Your website is one of the most important business tools your company has to drive growth. Every Pixel Perfect website is designed and built with intentional, strategic objectives to achieve the business results you’re looking for.Your new website will be built fully-responsive (mobile optimized), integrated with tools that allow your team to make updates on-demand, and optimized to help you rank higher on Google.
            Contact us today to learn more about how we can help increase qualified leads and grow your business.</p>
          </div>
        <div class="col-md-5">
          <img src="{% static 'images/webdesign.jpg' %}">
        </div>

      </div>
      <br><br>
      
      <div class="row">
        <div class="col-md-2"></div>
       
          <div class="col-md-5">
            <h3>Search Engine results</h3>
            <p>We carry out Search Engine Optimizations for your site to ensure that it appears at the top results for search engine results.</p>
            <p>There’s some SEO in everything you do online. But that doesn’t mean everyone needs the same SEO services. Build your search engine optimization foundation with the trusted experts. We offer the right plans and strategies match your exact needs.</p>
          </div>
        <div class="col-md-5">
          <img src="{% static 'images/optim.jpg' %}">
        </div>

      </div>
      <br><br>
      
      <div class="row">
        <div class="col-md-2"></div>
       
          <div class="col-md-5">
            <h3>Branding and Graphic Design</h3>
            <p>Present the best version of your business with beautiful branding, impeccably designed collateral, and consistency across all mediums.</p>
            <p>Our graphic design services help your business tell it’s story in it’s own unique way. Whether you need a new logo, tradeshow banner, brochure or web graphics, we’ll help you look your best.</p>
          </div>
        <div class="col-md-5">
          <img src="{% static 'images/brand.jpg' %}">
        </div>

      </div>
      <br><br>
      
      <div class="row">
        <div class="col-md-2"></div>
       
          <div class="col-md-5">
            <h3>Pixel-design perfect</h3>
            <p>If your business has proprietary software, or if you’re running a software development company, we can help improve the user interface, user experience or provide valuable feedback to help make your apps better.</p>
            <p>Our Front end development service is crafted with care to offer the desired services to the clients. We study the market requirements in-depth & deliver services as per the set industry standards with perfection and at an economical price.</p>
          </div>
        <div class="col-md-5">
          <img src="{% static 'images/pixel.jpg' %}">
        </div>

      </div>
      <br><br>

      

{% endblock %}