{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
             style="background-image: url('{% static 'images/services.jpg' %}');"
             
      >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Our Services</h1>
              <p>Other than connecting developers to employers we offer various services.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>Design Strategy</h3>
          <p>We offer design strategies for various business for their different platforms.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plane d-block"></span></span>
          <h3>Marketing Strategy</h3>
          <p>We offer marketting solutions in the digital world for all types of businesses.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-laptop d-block"></span></span>
          <h3>Web Design</h3>
          <p>We create quality websites for firms, individual portfolios and institutions.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-search d-block"></span></span>
          <h3>Search Engine Results</h3>
          <p>We carry out Search Engine Optimizations for your site to ensure that it appears at the top results for search engine results.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-paper-plane d-block"></span></span>
          <h3>Branding and Graphic Design </h3>
          <p>Present the best version of your business with beautiful branding, impeccably designed collateral, and consistency across all mediums.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plug d-block"></span></span>
          <h3>Pixel Perfect Design</h3>
          <p class="d-sm-block">Our Front end development service is crafted with care to offer the desired services to the clients. We study the market requirements in-depth & deliver services as per the set industry standards with perfection and at an economical price.</p>
        </a>

      </div>
    </div>


  </div>
</section>

<section class="bg-white pt-5 testimony-full">

  <div class="owl-carousel single-carousel">


    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid mx-auto" src="{% static 'images/sat.jpg' %}" alt="Image">
          <blockquote>
            <p>&ldquo;Techconect have really great quality client services.They created my business site which led to more page visits which increased the orders resulting to an increase in sales.&rdquo;</p>
            <p><cite> &mdash; Richard Anderson</cite></p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid mx-auto" src="{% static 'images/sat2.jpg' %}" alt="Image">
          <blockquote>
            <p>&ldquo;Techonect helped my business grow in the industry by doing effective marketing online campaign strategy which increased its visibility.&rdquo;</p>
            <p><cite> &mdash; Chris Peters</cite></p>
          </blockquote>
        </div>
      </div>
    </div>

  </div>

</section>


{% endblock  %}
